<app-header></app-header>

<main>
  <ul id="users">
    <!-- this is introduced in angular 17 -->
    <!-- @for (item of users; track $index) {
      <li>
        <app-user [user]="item" (select)="onSelectUser($event)"></app-user>
      </li>
    } -->
      <!-- this is angular structural directive -->
    <li *ngFor="let user of users; let i = index">
      <app-user [user]="user" [selected]="user.id===selectedUserId" (select)="onSelectUser($event)"></app-user>
    </li>

  </ul>

  <!-- this alos intoduced in angular 17 -->
  <!-- @if (selectedUser) {
    <app-tasks [name]="selectedUser.name"></app-tasks>
  }@else {
    <p>Please select a user</p>
  } -->

  <!-- this is using structural directive -->
  <app-tasks *ngIf="selectedUser else fallback" [userId]="selectedUser.id" [name]="selectedUser.name"></app-tasks>

  <!-- this is kind of else part if we r using structural directives -->
  <ng-template #fallback>
    <p>Please select a user</p>
  </ng-template>
  
</main>